# #
# NGINX server configuration for monte_mishkin_com.
# #

server {
    # listen to port 80 for IPv4 addresses
    listen 80;
    # listen to port 80 for IPv6 addresses
    listen [::]:80;

    # handle requests to localhost              ! for debug only !
    server_name localhost;

    # requests for static files
    location /static/ {
        # route to django project's collected static files
        root /home/monte_mishkin_com/projects/monte_mishkin_com;
    }

    # proxy all other location requests to gunicorn process via unix socket
    location / {
        include proxy_params;
        proxy_pass http://unix:/home/monte_mishkin_com/projects/monte_mishkin_com/monte_mishkin_com.sock;
    }
}


# end of file
