:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  0% { background-color: #54E2AC; }
  100% { background-color: transparent; }
}

.markdown {
  line-height: 1.6;
  word-wrap: break-word;
}

.markdown * {
  box-sizing: border-box;
}

.markdown a {
  color: #00A1DC;
  text-decoration: none;
}

.markdown a:active,
.markdown a:hover {
  text-decoration: underline;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown .anchor {
  color: inherit;
  font-size: 12px;
}

.markdown .anchor:active,
.markdown .anchor:hover {
  color: #00A1DC;
}

.markdown strong {
  font-weight: bold;
}

.markdown img {
  max-width: 100%;
}

.markdown hr {
  margin: 16px 0;
  height: 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.markdown blockquote {
  padding: 0 16px;
  color: #777;
  border-left: 4px solid #ddd;
}

.markdown ul {
    list-style-type: disc;
}

.markdown ol {
    list-style-type: decimal;
}

.markdown ul,
.markdown ol {
  padding-left: 2em;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ul ul ol,
.markdown ul ol ol,
.markdown ol ul ol,
.markdown ol ol ol {
  list-style-type: lower-alpha;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.markdown h1,
.markdown h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}

.markdown h1 {
  font-size: 32px;
}

.markdown h2 {
  font-size: 28px;
}

.markdown h3 {
  font-size: 24px;
}

.markdown h4 {
  font-size: 20px;
}

.markdown h5 {
  font-size: 18px;
}

.markdown h6 {
  font-size: 16px;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown .highlight {
  margin-bottom: 16px;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-family: monospace;
  font-size: 85%;
}

.markdown code {
  padding: 0.2em 0.5em;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.markdown pre {
  word-wrap: normal;
  overflow: auto;
  word-break: normal;
  padding: 16px;
  line-height: 1.45;
  background-color: #f7f7f7;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 1.2;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
