/*
 * Colors
 */
$kbd-color: #555;
$kbd-bg-color: #fcfcfc;
$kbd-shadow-color: #bbb;
$kbd-border-color: #ccc;
$kbd-border-bottom-color: $kbd-shadow-color;
$header-underline-color: #ccc;
$code-bg-color: #f1f2f5;
$blockquote-color: #777;
$blockquote-bg-color: #ddd;
$hr-color: #999;
$bold-color: black;
$flash-color: #54E2AC;
/* stay in sync with `colors.background.interactive` in colors.js */
$link-color: #00A1DC;

/*
 * Numbers
 */
$anchor-hash-width: 30px;
$paragraph-spacing: 16px;
$blockquote-indent: $paragraph-spacing;
$list-indent: 2em;
/* all these font sizes stay in sync with those in numerics.js */
$largest-font-size: 32px;
$larger-font-size: 24px;
$large-font-size: 18px;
$main-font-size: 14px;
$small-font-size: 12px;


:target {
    animation: flash 1s ease;
}

@keyframes flash {
    0% { background-color: $flash-color; }
    100% { background-color: transparent; }
}

.md {
    line-height: 1.6;
    word-wrap: break-word;

    & * {
        box-sizing: border-box;
    }

    & a {
        color: $link-color;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    & a:not([href]),
    & .anchor,
    & .anchor:active,
    & .anchor:hover,
    & .anchor:focus {
        color: inherit;
        text-decoration: none;
    }

    & .anchor::before {
        content: "#";
        margin-left: -$anchor-hash-width;
        width: $anchor-hash-width;
        display: inline-block;
        text-align: center;
        transition: color 0.2s ease-in-out;
        color: transparent;
    }

    & .anchor:active::before,
    & .anchor:hover::before,
    & .anchor:focus::before {
        color: inherit;
    }

    & strong {
        font-weight: bold;
        color: $bold-color;
    }

    & img {
        max-width: 100%;
    }

    & hr {
        margin: $paragraph-spacing 0;
        height: 0;
        overflow: hidden;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $hr-color;
    }

    & blockquote {
        padding: 0 $blockquote-indent;
        color: $blockquote-color;
        border-left: 4px solid $blockquote-bg-color;
    }

    & ul {
        list-style-type: disc;
    }

    & ol {
        list-style-type: decimal;
    }

    & ul,
    & ol {
        padding-left: $list-indent;
    }

    & ol ol,
    & ul ol {
        list-style-type: lower-roman;
    }

    & ul ul ol,
    & ul ol ol,
    & ol ul ol,
    & ol ol ol {
        list-style-type: lower-alpha;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin: $paragraph-spacing 0;
        font-weight: bold;
        line-height: 1.2;
    }

    & h1,
    & h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid $header-underline-color;
    }

    & h1 {
        font-size: $largest-font-size;
    }

    & h2 {
        /* TODO: can this be a $*-font-size or is this value better? */
        font-size: 28px;
    }

    & h3 {
        font-size: $larger-font-size;
    }

    & h4 {
        /* TODO: can this be a $*-font-size or is this value better? */
        font-size: 20px;
    }

    & h5 {
        font-size: $large-font-size;
    }

    & h6 {
        /* TODO: can this be a $*-font-size or is this value better? */
        font-size: 16px;
    }

    & p,
    & blockquote,
    & ul,
    & ol,
    & pre {
        margin-bottom: $paragraph-spacing;
    }

    & code,
    & kbd,
    & pre {
        font-family: monospace;
        font-size: 95%;
    }

    & pre {
        word-wrap: normal;
        overflow: auto;
        word-break: normal;
        padding: $paragraph-spacing;
        line-height: 1.45;
        background-color: $code-bg-color;
        border-radius: 3px;
    }

    & code {
        padding: 0.2em 0.5em;
        background-color: $code-bg-color;
        border-radius: 3px;

        &.hljs {
            background-color: transparent;
        }
    }

    & pre > code {
        display: block;
    }

    & kbd {
        display: inline-block;
        padding: 3px 5px;
        line-height: 1.2;
        vertical-align: middle;
        color: $kbd-color;
        background-color: $kbd-bg-color;
        border: solid 1px $kbd-border-color;
        border-bottom-color: $kbd-border-bottom-color;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 $kbd-shadow-color;
    }
}


/**
 * Syntax highlight theme originally acquired from:
 * https://github.com/isagalaev/highlight.js/blob/master/src/styles/foundation.css
 * Then, later modified based on influences from:
 * https://github.com/richleland/pygments-css/blob/master/friendly.css
 */

.hljs-link { color: #070; }
.hljs-emphasis { color: #070; font-style: italic; }
.hljs-attribute { color: #070; }
.hljs-addition { color: #070; }
.hljs-strong { color: #d14; font-weight: bold; }
.hljs-string { color: #d14; }
.hljs-deletion { color: #d14; }
.hljs-quote { color: #998; font-style: italic; }
.hljs-comment { color: #998; font-style: italic; }
.hljs-section { color: #900; }
.hljs-title { color: #900; }
.hljs-class .hljs-title { color: #458; }
.hljs-type { color: #458; }
.hljs-variable { color: #336699; }
.hljs-template-variable { color: #336699; }
.hljs-bullet { color: #997700; }
.hljs-meta { color: #3344bb; }
.hljs-code { color: #099; }
.hljs-number { color: #099; }
.hljs-literal { color: #099; }
.hljs-keyword { color: #099; }
.hljs-selector-tag { color: #099; }
.hljs-regexp { background-color: #fff0ff; color: #880088; }
.hljs-symbol { color: #990073; }
.hljs-tag { color: #007700; }
.hljs-name { color: #007700; }
.hljs-selector-id { color: #007700; }
.hljs-selector-class { color: #007700; }
