doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="icon" href="/static/images/favicon.png" type="image/png")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/static/styles.css")
        script(async, src="//www.google-analytics.com/analytics.js")
        script.
            window.__INITIAL_STATE__ = !{initialState};
        !{title}
    body
        #app !{renderedComponent}
        script(async, src="/static/client.js", type="text/javascript")
